@import "style.css";

 
.navbar {
  display: grid;
  overflow: hidden; 
  background-color: #696969; 
} 

/* .navbar {
  display: block; 
  color: white; 
  text-align: center; 
  padding: 10px 17px; 
} */


/* .navbar {
  display: inline;
  overflow: hidden;
}   */

.section {
  list-style-type: none;
  margin: 0;
  padding: 0;
}  

/* .navbar  {
  display: inline;
} */

